[Desktop Entry]
Type=Application
Name=Phone
Name[aa]=Telefoonu
Name[am]=ስልክ
Name[ast]=Teléfonu
Name[az]=Telefon
Name[be]=Тэлефон
Name[br]=Pellgomz
Name[bs]=Telefon
Name[ca]=Telèfon
Name[ca@valencia]=Telèfon
Name[cs]=Telefon
Name[cy]=Ffôn
Name[da]=Telefon
Name[de]=Telefon
Name[el]=Τηλέφωνο
Name[en_AU]=Phone
Name[en_GB]=Phone
Name[es]=Teléfono
Name[eu]=Telefonoa
Name[fa]=تلفن
Name[fi]=Puhelin
Name[fr]=Téléphone
Name[fr_CA]=Téléphone
Name[gd]=Fòn
Name[gl]=Teléfono
Name[he]=טלפון
Name[hr]=Telefon
Name[hu]=Telefon
Name[ia]=Telephono
Name[id]=Telepon
Name[is]=Sími
Name[it]=Telefono
Name[ja]=電話
Name[km]=ទូរស័ព្ទ​
Name[ko]=전화
Name[lv]=Tālrunis
Name[ms]=Telefon
Name[my]=ဖုန်း
Name[nb]=Telefon
Name[ne]=फोन
Name[nl]=Telefoon
Name[oc]=Telefòn
Name[pa]=ਫੋਨ
Name[pl]=Telefon
Name[pt]=Telefone
Name[pt_BR]=Telefone
Name[ro]=Telefon
Name[ru]=Телефон
Name[sk]=Telefón
Name[sl]=Telefon
Name[sq]=Telefoni
Name[sr]=Телефон
Name[sv]=Telefon
Name[tr]=Telefon
Name[ug]=تېلېفون
Name[uk]=Телефон
Name[zh_CN]=电话
Name[zh_HK]=電話
Name[zh_TW]=電話
GenericName=Phone App
GenericName[aa]=Telefoon Abnisso
GenericName[am]=የ ስልክ መተግበሪያ
GenericName[ast]=Aplicación Teléfonu
GenericName[az]=Telefon Tətbiqetməsi
GenericName[be]=Праграма-тэлефон
GenericName[br]=Arload pellgomz
GenericName[bs]=Telefon
GenericName[ca]=Trucades
GenericName[ca@valencia]=Cridades
GenericName[cs]=Telefonní aplikace
GenericName[cy]=Ap Ffôn
GenericName[da]=Telefonprogram
GenericName[de]=Telefonanwendung
GenericName[el]=Εφαρμογή τηλεφώνου
GenericName[en_AU]=Phone App
GenericName[en_GB]=Phone App
GenericName[es]=Aplicación Teléfono
GenericName[eu]=Telefonoa aplikazioa
GenericName[fa]=اپ تلفن
GenericName[fi]=Puhelinsovellus
GenericName[fr]=Application de téléphonie
GenericName[fr_CA]=Appli téléphonique
GenericName[gd]=Aplacaid an fhòn
GenericName[gl]=Aplicativo de teléfono
GenericName[he]=יישום טלפון
GenericName[hr]=Telefonska aplikacija
GenericName[hu]=Telefon alkalmazás
GenericName[ia]=Application de telephono
GenericName[id]=Aplikasi Telepon
GenericName[is]=Símaforrit
GenericName[it]=App telefono
GenericName[ja]=電話アプリ
GenericName[km]=កម្មវិធី​ទូរស័ព្ទ
GenericName[ko]=전화 프로그램
GenericName[lv]=Tālruņa lietotne
GenericName[ms]=Apl Telefon
GenericName[my]=ဖုန်း app
GenericName[nb]=Telefonprogram
GenericName[ne]=फोन अनुप्रयोग
GenericName[nl]=Telefoonapp
GenericName[oc]=Aplicacion de telefonia
GenericName[pa]=ਫੋਨ ਐਪ
GenericName[pl]=Aplikacja telefonu
GenericName[pt]=App de telefone
GenericName[pt_BR]=Phone App
GenericName[ro]=Aplicație pentru telefonie
GenericName[ru]=Телефон
GenericName[sk]=Aplikácia Telefón
GenericName[sl]=Mobilni program
GenericName[sq]=Program Telefoni
GenericName[sr]=Програм за телефонирање
GenericName[sv]=Telefonapp
GenericName[tr]=Telefon Uygulaması
GenericName[ug]=تېلېفون ئەپى
GenericName[uk]=Програма-телефон
GenericName[zh_CN]=电话应用
GenericName[zh_HK]=手機程式
GenericName[zh_TW]=電話程式
Comment=Phone application
Comment[aa]=Telefoon Abnisso
Comment[am]=የ ስልክ መተግበሪያ
Comment[ast]=Aplicación Teléfonu
Comment[az]=Telefon tətbiqetməsi
Comment[be]=Праграма-тэлефон
Comment[br]=Arload pellgomz
Comment[bs]=Telefonska aplikacija
Comment[ca]=Aplicació del telèfon
Comment[ca@valencia]=Aplicació del telèfon
Comment[cs]=Telefonní aplikace
Comment[cy]=Ap Ffôn
Comment[da]=Telefonprogram
Comment[de]=Telefonanwendung
Comment[el]=Εφαρμογή τηλεφώνου
Comment[en_AU]=Phone application
Comment[en_GB]=Phone application
Comment[es]=Aplicación Teléfono
Comment[eu]=Telefonoa aplikazioa
Comment[fa]=برنامه‌ی تلفن
Comment[fi]=Puhelinsovellus
Comment[fr]=Application de téléphonie
Comment[fr_CA]=Application téléphonique
Comment[gd]=Aplacaid an fhòn
Comment[gl]=Aplicativo de teléfono
Comment[he]=יישום טלפון
Comment[hr]=Telefonska aplikacija
Comment[hu]=Telefon alkalmazás
Comment[ia]=Application de telephono
Comment[id]=Aplikasi telepon
Comment[is]=Símahugbúnaður
Comment[it]=Applicazione telefono
Comment[ja]=電話アプリ
Comment[km]=កម្មវិធី​ទូរស័ព្ទ
Comment[ko]=전화 프로그램
Comment[lv]=Tālruņa lietotne
Comment[ms]=Aplikasi telefon
Comment[my]=ဖုန်း application
Comment[nb]=Telefonprogram
Comment[ne]=फोन अनुप्रयोग
Comment[nl]=Telefoonapplicatie
Comment[oc]=Aplicacion de telefonia
Comment[pa]=ਫੋਨ ਐਪਲੀਕੇਸ਼ਨ
Comment[pl]=Aplikacja telefonu
Comment[pt]=App de telefone
Comment[pt_BR]=Aplicativo de telefone
Comment[ro]=Aplicație pentru telefonie
Comment[ru]=Телефонное приложение
Comment[sk]=Aplikácia Telefón
Comment[sl]=Mobilni program
Comment[sq]=Program telefoni
Comment[sr]=Програм за телефонирање
Comment[sv]=Telefonprogram
Comment[tr]=Telefon uygulaması
Comment[ug]=تېلېفون  پروگراممىسى
Comment[uk]=Програма-телефон
Comment[zh_CN]=电话应用程序
Comment[zh_HK]=手機應用程式
Comment[zh_TW]=電話應用程式
Keywords=Phone;Dialer;Dial;Call;Keypad
Keywords[am]=ስልክ: መጥሪያ: ጥሪ: መደወያ:
Keywords[ast]=Teléfonu;Marcador;Marcar;Tecláu
Keywords[be]=Phone;Dialer;Dial;Call;Keypad;тэлефон;набор,нумар;званок,выклік;кнопкі
Keywords[br]=Pellgomz;Niverenner;Niverenniñ;Gervel;Klavier niverel
Keywords[bs]=Telefon;Birač;Biraj;Zovi;Tastatura
Keywords[ca]=Telèfon; marcador; trucades; truca; mòbil
Keywords[ca@valencia]=Telèfon; marcador; cridades; crida; mòbil
Keywords[cs]=Telefon;Číselník;Vytáčení;Hovor;Klávesnice
Keywords[cy]=Ffôn;Deialydd;Deialu;Galw;Bysellbad
Keywords[da]=Telefon;Opringning;Dialer;Kald;Opkald;Tastatur
Keywords[de]=Telefon;Wähler;anrufen;wählen;Anruf;Tastatur
Keywords[el]=Τηλέφωνο;Dialer;Dial;Κλήση;Πληκτρολόγιο
Keywords[en_AU]=Phone;Dialer;Dial;Call;Keypad
Keywords[en_GB]=Phone;Dialer;Dial;Call;Keypad
Keywords[es]=Teléfono;Marcador;Marcar;Teclado
Keywords[eu]=Telefonoa;Markatzailea;Markatu;Deitu;Markatze-teklatua
Keywords[fa]=تلفن;شماره‌گیر;شماره;تماس;صفحه‌کلید
Keywords[fi]=Phone;Dialer;Dial;Call;Keypad;puhelin;puhelu;puhelut;soitto;soita;valintanäppäimistö
Keywords[fr]=Téléphone;Composeur;Composer;Appeler;Pavé numérique
Keywords[fr_CA]=Téléphone;Composeur;Appel;Clavier
Keywords[gd]=Phone;Dialer;Dial;Call;Keypad;Fòn;Daitheal;Gairm;Iuchraichean
Keywords[gl]=Teléfono;Marcador;Dial;Chamar;Teclado
Keywords[he]=טלפון;חייגן;חוגה;התקשרות;להתקשר;שיחה;לחצנים;לוח
Keywords[hr]=Telefon;Birač;Biraj;Poziv;Tipkovnica
Keywords[hu]=Telefon;Tárcsázó;Hívás
Keywords[ia]=Telephono;Combinator;Combinar;Appellar;Claviero numeric
Keywords[id]=Telepon;Panggilan;Keypad
Keywords[is]=Sími;Talnaborð;Hringja
Keywords[it]=Telefono;Chiamata;Telefonata
Keywords[ja]=Phone;Dialer;Dial;Call;Keypad;電話;通話;呼び出し;キーパッド;
Keywords[km]=ទូរស័ព្ទ;បន្ទះលេខ;ចុច;ហៅ;បន្ទះ
Keywords[ko]=Phone;전화;Dialer;Dial;다이얼;Call;통화;Keypad;키패드
Keywords[lv]=Tālrunis;Ciparnīca;Zvans;Telefons;
Keywords[ms]=Telefon;Pendail;Dail;Panggilan;PadKekunci
Keywords[nb]=Telefon;Ringefunksjon;Ring;Samtale;Tastatur
Keywords[ne]=फोन; डायलर; डायल; कल; कुञ्जी
Keywords[nl]=Phone;Dialer;Dial;Call;Keypad;Telefoon;Kiezen;Bellen;Toetsenblok
Keywords[oc]=Telefòn;Composador;Composer;Sonar;Pavat numeric
Keywords[pa]=ਫੋਨ;ਡਾਇਲਰ;ਡਾਇਲ;ਕਾਲ;ਕੀਪੈਡ
Keywords[pl]=Telefon;Komórka;Dzwonić
Keywords[pt]=Telefone;Marcador;Marcar;Chamar;Teclado
Keywords[pt_BR]=Telefone;Discador;Discar;Chamada;Teclado
Keywords[ro]=Telefon;Dialer;Formează;Apel;Tastatură
Keywords[ru]=Телефон;Номеронабиратель;Наберите;Вызов;Клавиатура
Keywords[sk]=Telefón;Dialer;Vytočiť;Volanie;Numerická klávesnica
Keywords[sl]=Telefon;Klicalnik;Klic;Tipkovnica
Keywords[sr]=Телефон;Бирање;Звање;Позови;Тастатура
Keywords[sv]=Telefon;Uppringare;Ring;Knappsats
Keywords[tr]=Telefon;Çevirici;Çevirme;Arama;Tuştakımı
Keywords[ug]=تېلېفون ;Dialer;Dial;چاقىرىش;Keypad
Keywords[uk]=Phone;Dialer;Dial;Call;Keypad;телефон;набирання;номер;дзвінок;виклик;кнопки
Keywords[zh_CN]=电话；拨号器；拨号；呼叫；键盘
Keywords[zh_TW]=Phone;Dialer;Dial;Call;Keypad;手機;通話;撥打;
Exec=dialer-app %u
Terminal=false
Icon=${SNAP}/usr/share/dialer-app/assets/dialer-app.png
MimeType=x-scheme-handler/contact;x-scheme-handler/call
X-Ubuntu-Touch=true
X-Ubuntu-Supported-Orientations=portrait
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Single-Instance=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-Splash-Show-Header=true
X-Screenshot=/snap/dialer-app/current/usr/share/dialer-app/assets/dialer-app-screenshot.png
X-Ubuntu-Supported-Orientations=portrait
