Source: dialer-app
Section: x11
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               debhelper (>= 9),
               dh-translations,
               pkg-config,
               python,
               qt5-default,
               qtbase5-dev (>= 5.0),
               qtdeclarative5-dev (>= 5.0),
Standards-Version: 3.9.4
Homepage: https://launchpad.net/dialer-app
# If you aren't a member of ~phablet-team but need to upload packaging changes,
# just go ahead.  ~phablet-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~phablet-team/dialer-app/trunk
Vcs-Browser: https://bazaar.launchpad.net/~phablet-team/dialer-app/trunk/files

Package: dialer-app
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         dbus-x11,
         qtdeclarative5-ubuntu-history0.1 | qtdeclarative5-ubuntu-history-plugin,
         qtdeclarative5-ubuntu-telephony0.1 | qtdeclarative5-ubuntu-telephony-plugin,
         qtdeclarative5-ubuntu-ui-toolkit-plugin | qt-components-ubuntu,
Recommends: unity8 (>= 7.81.0~),
Description: Dialer application for Ubuntu
 An application to make phone calls

Package: dialer-app-autopilot
Architecture: all
Section: debug
Depends: ${misc:Depends},
         autopilot-qt5,
         libqt5test5,
         libqt5widgets5,
         dialer-app (>= ${binary:Version}),
         python-autopilot,
         ubuntu-ui-toolkit-autopilot,
         ofono-phonesim-autostart,
Description: autopilot tests for dialer-app
 This package contains the autopilot tests for dialer-app.
 .
 These tests run against the ofono phone simulator (pulled in through
 ofono-phonesim-autostart).

Package: dialer-app-connected-autopilot
Architecture: all
Section: debug
Depends: ${misc:Depends},
         dialer-app (>= ${binary:Version}),
         libautopilot-qt,
         python-autopilot,
         ubuntu-ui-toolkit-autopilot,
Description: connected autopilot tests for dialer-app
 This package contains the connected autopilot tests for dialer-app.
 .
 These tests run against real SIM cards/hardware and need to be configured
 manually before they work. Do not install ubuntu-ui-toolkit-autopilot with
 these!
